<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Root Config</title>
    <base href="/" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src <% if(isLocal) { %> 'unsafe-eval' <% } %> 'unsafe-inline' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://unpkg.com/single-spa@5.9.3/lib/umd/single-spa.min.js",
          "react": "https://unpkg.com/react@17/umd/react.production.min.js",
          "react-dom": "https://unpkg.com/react-dom@17/umd/react-dom.production.min.js",
          "rxjs": "https://unpkg.com/rxjs@7.3.0/dist/bundles/rxjs.umd.min.js"
        }
      }
    </script>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@angularjs/root-config": "http://localhost:9001/angularjs-root-config.js"
        }
      }
    </script>
    <script type="systemjs-importmap" src="http://localhost:5000/webpack-import-map.json"></script>
    <% if (isLocal) { %>
    <script src="https://unpkg.com/systemjs/dist/system.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/amd.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/named-exports.min.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/use-default.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>
    <script src="https://unpkg.com/systemjs/dist/system.min.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/amd.min.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/named-exports.min.js"></script>
    <script src="https://unpkg.com/systemjs/dist/extras/use-default.min.js"></script>
    <% } %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <script>
      System.import('@angularjs/root-config')
    </script>
    <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  </body>
</html>
