{
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "react", "react-hooks", "@typescript-eslint/eslint-plugin", "import", "prettier"],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "root": true,
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"],
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "ignorePatterns": ["setup/", "scripts/", "*.config.js"],
  "rules": {
    "react/prop-types": "off",
    "react/no-render-return-value": "off",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/jsx-key": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".js", ".ts", ".tsx"] }],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-function-return-type": 0,
    "import/prefer-default-export": 0,
    "import/extensions": [0, "never", { "extensions": [".jsx", ".js"] }],
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": ["**/*.test.ts", "**/*.spec.{ts,tsx}", "**/*.story.{ts,tsx}"]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@material-ui/*/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ]
  }
}
